<header>
  <div class="contentHeader">
    <div class="menu-icon menu-icon-bar"
      (click)="changeIcon()"
      [ngClass]="{'menu-icon-cancel': iconCancel === 'cancel','menu-icon-bar': iconCancel === 'bar'}">
      <div class="line-1"></div>
      <div class="line-2"></div>
      <div class="line-3"></div>
    </div>
    <div class="contentBudget">
      <div class="budget">
        <p>Presupuesto: <span>{{ presupuesto | currency:'S/.' }}</span></p>
      </div>
      <div class="addBudget">
        <button (click)="openModalAddPresupuesto()">
          <p>Adicionar</p>
          <img src="assets/image/anadir.png" />
        </button>
      </div>
    </div>
  </div>
  <div class="contentNav" [ngClass]="{'contentNavActive': iconCancel === 'cancel'}">
	  <div class="nav">
		  <button [routerLink]="['']" (click)="changeIcon()">Diario</button>
	  </div>
	  <div class="nav">
		  <button [routerLink]="['month']" (click)="changeIcon()">Mensual</button>
	  </div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<div class="modalAddPresupuesto" *ngIf="modalAddPresupuesto">
  <div class="content">
    <div class="header">
      <p>ADICIONAR PRESUPUESTO</p>
      <button (click)="openModalAddPresupuesto()"><img src="assets/image/cerrar.png"></button>
    </div>
    <div class="main">
      <div class="contentInput">
        <span>Monto a adicionar:</span>
        <input type="number" step="0.01" [(ngModel)]="montoAddPresupuesto">
      </div>
    </div>
    <div class="buttons">
      <button class="btnCancel" (click)="openModalAddPresupuesto()">Cancelar</button>
      <button class="btnAdd" (click)="AddMorePre()">Agregar</button>
    </div>
  </div>
</div>
